/* ---- GENERAL PAGE ---- */

body {
  margin: 0;
  padding: 0;
  background: #f3e9d7;
  font-family: Arial, sans-serif;
}


/* --- NAVBAR --- */

.navbar {
    width: 100%;
    background: #3A6D8C;
    padding: 15px 0;
    border-radius: 0 0 12px 12px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 160px;
    margin: 0;
    padding: 0;
}

.navbar li {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
}

@media (max-width: 450px) {
    .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0;
    padding: 0;
    }
}


/* ---- CONTAINER ---- */

.container {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 20px;
}

/* ---- TITLE ---- */

.input-container h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 25px;
  color: #2b2521;
}

/* ---- INPUT SECTION ---- */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#inputbox {
  width: 100%;
  max-width: 450px;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
  background: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

/* ---- ADD BUTTON ---- */

#addbtn {
  padding: 12px 25px;
  background: #3a2f28;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

#addbtn:hover {
  background: #54463d;
}

/* ---- LIST ---- */

.todoList {
  list-style: none;
  padding: 0;
  margin-top: 30px;

}

/* ---- TASK CARD ---- */

.todoList li {
  background: white;
  padding: 15px 20px;
  margin-bottom: 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #4c7cff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}


.todoList li button {
  padding: 6px 14px;
  border: none;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

/* Edit button */
.todoList li .edit-btn {
  background: #d9f5e1;
  color: #0a7a20;
}

.todoList li .edit-btn:hover {
  background: #b9e8c8;
}

/* Remove button */
.todoList li .delete-btn {
  background: #f8d6d6;
  color: #cc1919;
}

.todoList li .delete-btn:hover {
  background: #f1b2b2;
}


.todoList li:hover {
  transform: translateY(-3px);
}

/* ---- TASK TEXT ---- */

.todoList li span {
  flex: 1;
  font-size: 17px;
  color: #222;
  margin-right: 15px;
  word-wrap: break-word;
}

/* ---- BUTTONS ---- */

.todoList li .edit-btn {
  color: #0a7a20;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.2s;
}

.todoList li .edit-btn:hover {
  opacity: 0.6;
}

.todoList li .delete-btn {
  color: #cc1919;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.todoList li .delete-btn:hover {
  opacity: 0.6;
}